<ul class="sidebar-nav">
  <div class="one">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/categories">Sort By Categories</a></li>
    <li><a href="/countries">Sort By Countries</a></li>
    <li><a href="/inventory">Current Inventory</a></li>
    <li><a href="/sales">Existing Sales</a></li>
  </div>
  <div class="two">
    <li><a href="/suppliers">Supplier List</a></li>
    <li><a href="/spoilages">Existing Spoilages</a></li>
    <li><a href="/products/create">Create New Product</a></li>
    <li><a href="/sales/create">Create New Sale</a></li>
    <li><a href="/spoilages/create">Create New Spoilage</a></li>
    <li><a href="/batches/create">Create New Batches</a></li>
  </div>
</ul>
