<ul class="sidebar-nav">
  <li><a href="/">Dashboard</a></li>
  <li><a href="/categories">Sort By Categories</a></li>
  <li><a href="/countries">Sort By Countries</a></li>
  <li><a href="/inventory">Current Inventory</a></li>
  <li><a href="/sales">Existing Sales</a></li>
  <hr />
  <li><a href="/spoilages">Existing Spoilages</a></li>
  <li><a href="/categories/create">Create New Category</a></li>
  <li><a href="/countries/create">Create New Country</a></li>
  <li><a href="/inventory/create">Create New Product</a></li>
  <li><a href="/sales/create">Create New Sale</a></li>
  <li><a href="/spoilages/create">Create New Spoilage</a></li>
</ul>
